/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# screenshots
*.png

#byebug history
.byebug_history



.env

# Vscode -> Window color configuration

.vscode/settings.json

coverage
